@charset "utf-8";

body {
    background-color: #DFD1BF;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

li {
    text-decoration: none
}



/*スクロールボタン(予約用)*/
a {
    text-decoration: none;
    color: #000000;
}

/*以下、div関係*/
.reserve {
    /*スクロールしても固定されてる状態のまま*/
    position: fixed;
    right: 20px;
    bottom: 12px;
    background: #FFCD70;
    border-radius: 14px;
    padding: 13px;
    padding-block: revert;
    height: 22px;
}


.workstyle {
    background-color: ;
}



/*若い子向けコンテンツ・様々な世代向けコンテンツ*/
.yung {
    background-color: #D9BAD4;
    padding: 14px;
}

#from_yung {
    font-size: 14px;
    margin-bottom: 15px;
}



.biginner {
    background-color: #DFDBB5;
    padding: 5px;
}

.from_biginner {
    background: #E8E7E2;
    padding: 40px;
}

.service>main {
    font-weight: bold;
}

.customer_photo>img {
    width: 120px;
    height: 70px;
}

/*ボタン*/

.btn {
    display: inline-block;
    border: 1px solid;
}

.enquete {
    position: relative;
    border: none;
    appearance: none;
    outline: 0;
    border-radius: 8px;
    background: #DEB887;
    color: #000000;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 64px;

}

img {
    width: 100%;
}

.stylist {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
}


/*テキスト関係*/

/*PC版↓*/
@media (min-width: 950px) and (max-width: 1920px) {
    p {
        text-align: center;
    }

    figcaption {
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 124px;
    }

    h2 {
        text-align: center;
    }

    dt {
        font-size: 20px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #DFD1BF;
        list-style: none;
        font-size: 35px;
        text-decoration: none
    }
}

#keyvisual {
    width: 100%;
}



@media (min-width: 320px) and (max-width: 500px) {
    h1 {
        font-size: 25px;
        text-align: center;
    }

    #keyvisual {
        width: 390px;
        height: 844px;
    }

    .u-invisible-md-down {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        visibility: hidden !important;
    }

    /*髪型一覧*/
    .best-three {
        width: 167px;
        height: 173px;
        margin: auto;
    }

    .style_explanation {
        border: none;
        background-color: #FFFFFF;
        width: 200px;
        height: 180px;
        margin: auto;
        margin-top: -15px;
        margin-bottom: 15px;
    }

    #best1 {
        color: #B28169;
        font-size: 13px;
        font-family: "Sylfaen";
        margin-top: 7px;
    }

    .service {
        padding: 23px;
        margin: auto;
        background: #FFF;
        width: 356px;
        height: 162px;
        border-radius: 11px;
        margin-bottom: 14px;
    }

    .service>dd {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 14px;
    }

    .service>dt {
        font-size: 14px;
        text-align: center;
    }

    #cheap_price {
        font-size: 13px;
        margin-bottom: 24px;
    }

    #relaxing_service {
        font-size: 14px;
    }

    #menbers_card {
        font-size: 1px;

    }

    .enquete {
        position: relative;
        border: none;
        appearance: none;
        outline: 0;
        border-radius: 8px;
        background: #DEB887;
        color: #000000;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin-bottom: 20px;
        box-sizing: border-box;
        height: 64px;
        margin: auto;
    }


    .menu {
        border-top: 5px solid #A56720;
        border-bottom: 5px solid #A56720;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 310px;
    }

    .menu_List .nav_list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .consts-body {
        position: relative;
        background: #eee;
        width: 400px;
        height: 600px;
        margin: 0 auto;
    }

    /*ハンバーガーメニュー*/



    .nav {
        position: fixed;
        right: -320px;
        /* 右から出てくる */
        top: 0;
        width: 300px;
        /* スマホに収まるサイズ */
        height: 100vh;
        padding-top: 60px;
        background-color: #fff;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto;
        /* メニューが多くなったらスクロールできるように */
    }

    .hamburger {
        width: 40px;
        height: 32px;
        position: fixed;
        border: none;
        bottom: 14px;
        left: 9px;
        background: #FFCD70;
        z-index: 100;
    }



    .nav_item {
        text-align: center;
        padding: 0 14px;
    }

    .nav_item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #333;
    }

    .nav_item a:hover {
        background-color: #eee;
    }

    /*メニュー線設定*/
    .hamburger_bar {
        display: block;
        width: 37px;
        height: 4px;
        position: absolute;
        left: 5px;
        background: #000;
        transition: top 0.24s, transform 0.24s, opacity 0.24s;
    }

    .hamburger_bar:nth-child(1) {
        top: 0;
    }

    .hamburger_bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger_bar:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
    }

    .hamburger_bar.is_active:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .hamburger_bar.is_active:nth-child(2) {
        transform: translate(50%, -50%);
        opacity: 0;
    }

    .hamburger_bar.is_active:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
    }

    .nav.is_active {
        opacity: 1;
        pointer-events: auto;
    }

}

#catchcopy {
    font-family: "Segoe Print";
    font-size: 25px;
    margin: 15px;
}

.bylougue {
    padding: auto;
    background: #DCC7AB;

}