@charset "utf-8";

body {
    background-color: #DFD1BF;
    background-position: center;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

li {
    text-decoration: none
}

/*背景画像*/


/*スクロールボタン(予約用)*/
a {
    text-decoration: none;
    color: #000000;
}

/*以下、div関係*/
.reserve {
    /*スクロールしても固定されてる状態のまま*/
    position: fixed;
    right: 10px;
    bottom: 18px;
    background: #FFCD70;
    border-radius: 14px;
    padding: 13px;
    padding-block: revert;
    height: 22px;
}


.workstyle {
    background-color: ;
}



/*若い子向けコンテンツ・様々な世代向けコンテンツ*/
.yung {
    background-color: #D9BAD4;
    width: 100%;
}

#from_yung {
    font-size: 14px;
    margin-bottom: 15px;
}

/*ベスト3*/
#best1 {
    color: #B28169;
    font-size: 13px;
    font-family: "Sylfaen";
    padding: 4px;
    margin-bottom: 5px;
}

#best2 {
    color: #82D0C8;
    font-size: 13px;
    font-family: "Sylfaen";
    padding: 4px;
}

#best3 {
    color: #DE74B7;
    font-size: 13px;
    font-family: "Sylfaen";
    padding: 5px;
}

.combination {
    font-size: 10px;
    margin-bottom: 5px;
}

/*その他のスタイル*/
#other1 {
    color: #000000;
    font-family: 'Sylfaen';
    font-size: 16px;
    padding: 5px;
}

#other2 {
    color: #F16682;
    font-size: 16px;
    padding: 10px;
}

#other3 {
    color: #937B69;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 16px
}

#other4 {
    color: #201D1D;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 16px
}

#other5 {
    color: #937B69;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 16px
}

#other6 {
    color: #201D1D;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 16px
}

/*新規様向けへ*/

.biginner {
    background-color: #DFDBB5;
    padding: 5px;
    margin-bottom: 20px;
}

.from_biginner {
    background: #E8E7E2;
    padding: 40px;
}

#laststyle {
    border: none;
    background-color: #FFFFFF;
    width: 200px;
    height: 180px;
    margin: auto;
    margin-top: -15px;
    text-align: center;
}

/*新規コンテンツ画像*/

.customer_photo {
    display: flex;
}

.customer_photo>img {
    width: 100%
}

/*ボタン*/

.btn {
    display: inline-block;
    border: 1px solid;
}

.enquete {
    position: relative;
    border: none;
    appearance: none;
    outline: 0;
    border-radius: 8px;
    background: #DEB887;
    color: #000000;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 64px;

}

img {
    width: 100%;
}

.stylist {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
}

/*ローグとは*/

.bylougue {
    padding: auto;
    background: #DCC7AB;
    width: 100%;
}

#catchcopy {
    font-family: 'Segoe Print';
    font-weight: "Regular";
    font-size: 30px;
}

/*素材*/

.sozai figcaption {
    font-weight: bold;
}

/*サービス一覧*/



/*メニュー*/
.menu {
    width: 100%;
}

.menutittle {
    border-top: 5px solid #A56720;
    border-bottom: 5px solid #A56720;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
}

/*髪型説明*/

.other {
    padding: 10px;
}

.style_explanation>dd {
    font-size: 1px;
    margin-bottom: 10px;
}

.Detailed {
    font-size: 13px;
    margin-bottom: 7px;
}

.Detailed>dt {
    font-size: 13px;
    text-align: center;
    margin-bottom: -17px;
    margin-left: -87px;
}

.Detailed>dd {
    font-size: 10px;
    margin-left: 77px;
}

.style_explanation {
    border: none;
    background-color: #FFFFFF;
    width: 200px;
    height: 180px;
    margin: auto;
    text-align: center;
}

/*メニュー関連*/

.menu_List dt {
    width: calc();
    text-align: left;
    margin-left: 40px;
}

.menu_List dd {
    text-align: right;
    margin-right: 45px;
}

/*アクセス関連*/

address {
    text-align: center;
}

.timeandday {
    margin: 38px;
}

.timeandday>dt {
    text-align: left;
    margin: -4px;
    margin-left: 36px;
}

.timeandday>dd {
    text-align: right;
    margin-right: -15px;
    margin-top: -24px;
}

.SNS img {
    width: 110px;
    height: 90px;
}

/*テキスト関係*/

/*PC版↓*/
@media (min-width: 950px) and (max-width: 2000px) {


    .reserve {
        position: fixed;
        right: 30px;
        bottom: 18px;
        background: #FFCD70;
        border-radius: 70px;
        padding: 30px;
        padding-block: revert;
        height: 55px;
        font-size: 40px;
    }

    /*ファーストビュー*/
    .logo {
        width: 660px;
        height: 500px;
    }

    .keyvisual {
        width: 100%;
        background-image: url(../img/keyvisual_pc.jpg);
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    p {
        text-align: center;
        font-size: 45px;
    }

    figcaption {
        text-align: center;
        font-size: 55px;
        padding: 28px;
    }

    h1 {
        text-align: center;
        font-size: 124px;
    }

    h2 {
        text-align: center;
        font-size: 100px;
    }

    dt {
        font-size: 20px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: #DFD1BF;
        list-style: none;
        font-size: 35px;
        text-decoration: none
    }

    .nav_list li {
        list-style: none;
    }

    .nav_item {
        text-align: center;
        padding: 0 14px;
    }

    .nav_item a {
        display: block;
        padding: 8px 0;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        color: #333;
    }

    .nav_item a:hover {
        background-color: #eee;
    }

    /*ローグとは*/
    .bylougue {
        padding: auto;
        background: #DCC7AB;
        width: 100%;
        height: 900px;
    }

    #catchcopy {
        font-family: "Segoe Print";
        font-size: 115px;
        margin: 15px;
    }

    .bylougue>p {
        font-size: 53px;
        padding: 59px;
    }

    /*髪型設定*/

    #from_yung {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .best-three {
        width: 450px;
        height: 480px;
        margin: auto;
    }

    /*髪型説明*/

    .other {
        padding: 10px;
    }

    .style_explanation>dd {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .Detailed {
        font-size: 13px;
        margin-bottom: 7px;
    }

    .Detailed>dt {
        font-size: 30px;
        text-align: center;
        margin-right: 141px;
        margin-top: 20px;
        margin-bottom: -44px;
    }

    .Detailed>dd {
        font-size: 27px;
        margin-left: 165px;
    }

    #Wcolorgreen {
        margin-bottom: 50px;
    }

    .style_explanation {
        border: none;
        background-color: #FFFFFF;
        width: 460px;
        height: 440px;
        margin: auto;
        text-align: center;
    }

    /*ベスト3*/
    #best1 {
        color: #B28169;
        font-size: 30px;
        font-family: "Sylfaen";
        padding: 4px;
        margin-bottom: 5px;
    }

    #best2 {
        color: #82D0C8;
        font-size: 30px;
        font-family: "Sylfaen";
        padding: 5px;
    }

    #best3 {
        color: #DE74B7;
        font-size: 30px;
        font-family: "Sylfaen";
        padding: 10px;
    }

    .combination {
        font-size: 20px;
        margin-bottom: 5px;
    }

    /*その他のスタイル*/
    #other1 {
        color: #000000;
        font-family: 'Sylfaen';
        font-size: 30px;
        padding: 5px;
    }

    #other2 {
        color: #F16682;
        font-size: 27px;
        padding: 10px;
        margin-bottom: 30px;
    }

    #other3 {
        color: #937B69;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 22px
    }

    #other4 {
        color: #201D1D;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 16px
    }

    #other5 {
        color: #937B69;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 16px
    }

    #other6 {
        color: #201D1D;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 16px
    }

    .best3_set {
        padding: 90px;
    }

    .other_set {
        padding: 90px;
    }

    .best3_pc {
        display: flex;
    }

    .styleresponsiv {
        display: flex;

    }

    .styleresponsiv img {
        width: 100%;

    }

    .others {
        width: 450px;
        height: 480px;
        margin: auto;
    }

    /*お客様の声*/
    .custmer_voice {
        width: 1200px;
        height: 600px;
        margin: auto;
        margin-bottom: 50px;

    }

    /*素材コンテンツ > オススメ(PC用)*/

    /*素材コンテンツ*/

    figure img {
        width: 1270px;
        height: 1610px;
    }

    figcaption {
        font-size: 100px;
    }

    .sozai img {
        width: 1270px;
        height: 1270px;
    }

    .sozai dt {
        font-family: 'Roboto';
        font-weight: bold;
        margin: auto;
        font-size: 40px;
    }

    .sozai dd {
        margin: auto;
        font-size: 30px;
    }

    .recommendation {
        margin: auto;
        padding: 25px;
    }

    .recommendation img {
        width: 627px;
        height: 627px;
        margin-bottom: 20px;
    }

    .recommendation_pc {
        display: flex;
    }



    /*新規様コンテンツ*/

    .service {
        padding: 40px;
        margin: auto;
        background: #FFF;
        width: 1480px;
        height: 575px;
        border-radius: 11px;
        margin-bottom: 14px;
    }

    .service>dd {
        font-size: 45px;
        text-align: center;
        padding: 30px;
    }

    .service>dt {

        font-size: 90px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 14px;
    }

    #cheap_price {
        font-size: 25px;
        margin-bottom: 18px;
    }

    #relaxing_service {
        font-size: 25px;
    }

    #menbers_card {
        font-size: 25px;

    }

    /*お客様からの声*/
    .customer_voice_woman {
        border: 5px solid #FFCAEB;
        background: #FFF;
        width: 1280px;
        height: 650px;
        margin: auto;
        margin-bottom: 40px;
    }

    .customer_voice_man {
        border: 5px solid #818FBD;
        background: #FFF;
        width: 1280px;
        height: 650px;
        margin: auto;
        margin-bottom: 40px;
    }

    .customer_voice_woman p {

        font-size: 30px;
        margin-right: 360px;
        padding: 8px;
        margin-top: -60px;
    }

    .customer_voice_woman img {
        margin-left: 800px;
        margin-bottom: -109px;
        margin-top: 40px;
        width: 330px;
        height: 330px;
    }

    .customer_voice_woman dl {
        display: flex;
        margin: 80px;
        margin-left: 945px;
    }

    .customer_voice_woman dt {
        font-size: 27px;
    }

    .customer_voice_woman dd {
        font-size: 27px;
        margin-left: 19px;
    }

    .customer_voice_man p {
        font-size: 30px;
        margin-right: 360px;
        padding: 8px;
        margin-top: -60px;
    }

    .customer_voice_man img {
        margin-left: 800px;
        margin-bottom: -109px;
        margin-top: 40px;
        width: 330px;
        height: 330px;
    }


    .customer_voice_man dl {
        display: flex;
        margin: 80px;
        margin-left: 945px;
        margin-top: 165px;
    }

    .customer_voice_man dt {
        font-size: 27px;
    }

    .customer_voice_man dd {
        font-size: 27px;
        margin-left: 19px;
    }

    .enquete {
        position: relative;
        border: none;
        appearance: none;
        outline: 0;
        border-radius: 45px;
        background: #DEB887;
        color: #000000;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 790px;
        margin-bottom: 20px;
        box-sizing: border-box;
        height: 220px;
        margin: auto;
        font-size: 50px;
    }

    /*メニュー関連*/

    .menu_pc {
        display: flex;
        margin: 240px;
    }

    .menutittle {
        border-top: 5px solid #A56720;
        border-bottom: 5px solid #A56720;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
        font-size: 60px;
    }

    .menu_List {
        margin-bottom: 15px;
    }

    .menu_List dt {
        text-align: left;
        padding: 30px;
        font-size: 30px;
    }

    .menu_List dd {
        text-align: right;
        font-family: 'Roboto';
        font-weight: BOLD;
        font-size: 40px;
        padding: 10px;
    }

    #cut_PC {}

    #color_pc {
        margin: 24px;
        margin-right: 55px;
    }

    #parma_pc {
        margin-top: -980px;
    }

    #torieatment_PC {
        margin-left: 21px;
        margin-top: -243px;
    }

    /*アクセス関連*/


    iframe {
        width: 850px;
        height: 850px;
        border: 0
    }

    #Lougue_billding {
        width: 850px;
        height: 850px;
    }

    address {
        font-size: 40px;
        text-align: center;
    }

    .timeandday {
        margin: 1px;
    }

    .timeandday>dt {
        text-align: center;
        margin: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .timeandday>dd {
        text-align: center;
        margin-right: 5px;
        font-size: 35px;
    }

    #hotpepperbeauty {
        width: 393px;
        height: 120px;
    }
}

@media (min-width: 200px) and (max-width: 500px) {

    /*ファーストビュー*/

    .logo {
        width: 148px;
        height: 111px;
    }

    .keyvisual {
        width: 100%;
        background-image: url(../img/keyvisual1.jpg);
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 25px;
        text-align: center;
        padding: 10px;
    }

    .u-invisible-md-down {
        position: absolute !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        visibility: hidden !important;
    }

    /*髪型一覧*/

    .stylecollection {
        text-align: center;
    }

    .best-three {
        width: 167px;
        height: 173px;
        margin: auto;
        padding: 5px;
    }



    .others {
        width: 167px;
        height: 173px;
        margin: auto;
        padding: 5px;

    }

    .style_explanation>dd {
        font-size: 10px;
        margin-bottom: 5px;
    }





    /*インテリア関連*/

    #interior_mean {
        font-size: 19px;
        margin-bottom: 15px;
    }

    /*新規コンテンツ関連*/
    .service {
        padding: 25px;
        margin: 20px;
        background: #FFF;
        height: 162px;
        border-radius: 11px;
        margin-bottom: 14px;
    }


    .service>dt {

        font-family: 'BIZ UDPゴシック';
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 14px
    }

    .service>dd {
        font-size: 14px;
        text-align: center;
        margin-bottom: 15px;
    }

    #cheap_price {
        font-size: 15px;
        margin-bottom: 15px;
    }

    #relaxing_service {
        font-size: 15px;
    }

    #menbers_card {
        font-size: 1px;

    }

    /*お客様からの声*/

    /*お客様の声*/

    .customer_voice_woman {
        border: 5px solid #FFCAEB;
        background: #FFF;
        width: 350px;
        height: 200px;
        margin: auto;
        margin-bottom: 10px;
    }

    .customer_voice_man {
        border: 5px solid #818FBD;
        background: #FFF;
        width: 350px;
        height: 200px;
        margin: auto;
        margin-bottom: 10px;
    }

    .customer_voice_woman p {
        margin: 14px;
        font-size: 5px;
        margin-right: 113px;
    }

    .customer_voice_woman img {
        margin-left: 222px;
        margin-bottom: -109px;
        width: 94px;
        height: 94px;
    }

    .customer_voice_woman dl {
        display: flex;
        margin-left: 225px;
    }

    .customer_voice_man p {
        margin: 35px;
        font-size: 5px;
        margin-right: 135px;
    }

    .customer_voice_man img {
        margin-left: 222px;
        margin-bottom: -109px;
        width: 94px;
        height: 94px;
    }

    .customer_voice_man dl {
        display: flex;
        margin-left: 225px;
    }

    .enquete {
        position: relative;
        border: none;
        appearance: none;
        outline: 0;
        border-radius: 8px;
        background: #DEB887;
        color: #000000;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin-bottom: 20px;
        box-sizing: border-box;
        height: 64px;
        margin: auto;
    }

    /*素材コンテンツ*/
    .sozai {
        width: 270px;
        margin: auto;
    }

    main {
        font-size: 20px;
    }

    .sozai dl {
        margin: 18px;
    }

    .sozai dt {
        font-family: 'Roboto';
        font-weight: bold;
        margin: auto;

    }

    .sozai dd {
        font-size: 15px;
    }


    /*メニュー関連*/

    .menu_List {
        margin-bottom: 15px;
    }

    .menu_List dt {
        width: calc();
        text-align: left;
        margin-left: 40px;
    }

    .menu_List dd {
        text-align: right;
        margin-right: 45px;
        font-family: 'Roboto';
        font-weight: BOLD;
    }





    /*ハンバーガーメニュー*/

    .consts-body {
        position: relative;
        background: #eee;
        width: 400px;
        height: 600px;
        margin: 0 auto;
    }

    .hamburger {
        width: 40px;
        height: 32px;
        position: fixed;
        border: none;
        bottom: 16px;
        left: 9px;

        z-index: 100;
    }





    /*メニュー線設定*/
    .conts-body {
        position: relative;
        background: #eee;
        margin: 0 auto;
    }

    .hamburger {
        width: 30px;
        height: 25px;
        position: fixed;
        bottom: 16px;
        right: 16px;
        z-index: 1000;
    }

    .hamburger_bar {
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        background: #000;
        border-radius: 100px;
        transition: top 0.24s, transform 0.24s, opacity 0.24s;
    }

    .hamburger_bar:nth-child(1) {
        top: 0;
    }

    .hamburger_bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .hamburger_bar:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
    }

    .hamburger_bar.is_active:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .hamburger_bar.is_active:nth-child(2) {
        transform: translate(50%, -50%);
        opacity: 0;
    }

    .hamburger_bar.is_active:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-135deg);
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 99;
        background: #a0a0a0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.24s;
    }

    .nav.is_active {
        opacity: 1;
    }

    .nav_list {
        position: absolute;
        flex-direction: column;
        gap: 32px;
        background-color: #DCD0B9;
    }

    /* リセットCSS */
    button {
        border-color: transparent;
        background: transparent;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    /*========= ナビゲーションのためのCSS ===============*/

    #g-nav {
        /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
        position: fixed;
        z-index: -1;
        opacity: 0;
        /*はじめは透過0*/
        /*ナビの位置と形状*/
        top: 0;
        width: 100%;
        height: 100vh;
        /*ナビの高さ*/
        background: #DCD0B9;
        /*動き*/
        transition: all 0.3s;
        pointer-events: none;
    }

    /*アクティブクラスがついたら透過なしにして最前面へ*/
    #g-nav.panelactive {
        opacity: 1;
        z-index: 999;
        pointer-events: auto;
    }

    /*ナビゲーションの縦スクロール*/
    #g-nav.panelactive #g-nav-list {
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100vh;
        /*表示する高さ*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    /*ナビゲーション*/
    #g-nav ul {
        display: none;
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #g-nav.panelactive ul {
        display: block;
    }

    /*リストのレイアウト設定*/

    #g-nav li {
        list-style: none;
        text-align: center;
    }

    #g-nav li a {
        color: #333;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }




    /*アクセス関連*/
    #Lougue_billding {
        width: 314px;
        height: 314px;
    }

    #train {
        margin-bottom: -34px;
    }

    .timeandday>dt {
        text-align: left;
        margin-left: 21px;
        font-weight: bold;
    }

    #unpaid {
        margin-right: 160px;
        margin-top: -23px;
    }

    #phone {
        margin-top: -24px;
        margin-right: 109px;
    }

    #hotpepperbeauty {
        width: 250px;
        height: 80px;
    }

}